<h1>Login</h1>

<p>Fill with your db credentials</p>

<%= form_for :login, :url => signup_path, :method => :post do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br />
  <%= f.label :password %>
  <%= f.password_field :password %><br />
  <%= f.submit t("login") %>
<% end %>
